PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/niveshrakshak
JWT_SECRET=niveshrakshak_super_secret_jwt_key_2026
AI_SERVICE_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
